@model List<Category>

<h1>Danh sách các loại món ăn</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm loại món ăn" name="searchString" value="@ViewBag.SearchString">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Tìm kiếm</button>
        </div>
    </div>
</form>

@if (Model.Count == 0)
{
    <p>Không tìm thấy kết quả nào.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Loại món</th>
                <th scope="col">Thông tin</th>
                <th scope="col">Lựa chọn</th>
            </tr>
        </thead>

        <tbody>
            @{
                int stt = (ViewBag.Page - 1) * ViewBag.PageSize + 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(stt++)</td>
                    <td>@item.NameCategory</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-action="EditCategory" asp-route-id="@item.CategoryId">Chỉnh sửa</a> |
                        <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId" onclick="return confirm('Bạn có chắc chắn muốn xóa loại món ăn này không?')">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    @if (ViewBag.Page > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?searchString=@ViewBag.SearchString&page=@(ViewBag.Page - 1)&pageSize=@ViewBag.PageSize" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.Page ? "active" : "")"><a class="page-link" href="?searchString=@ViewBag.SearchString&page=@i&pageSize=@ViewBag.PageSize">@i</a></li>
                    }
                    @if (ViewBag.Page < ViewBag.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?searchString=@ViewBag.SearchString&page=@(ViewBag.Page + 1)&pageSize=@ViewBag.PageSize" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
}