@{
    var orderDates = ViewBag.OrderDates as List<string>;
    var totals = ViewBag.Totals as List<float>;
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Số món ăn: @ViewBag.Count</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Food" asp-action="Index">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Số loại món: @ViewBag.CountCategory </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Số đơn hàng đã giao: @ViewBag.CountOrderItem</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Xem chi tiết</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Tổng số tiền: @ViewBag.SumTotal</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            
               
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Doanh thu của cửa hàng
                    </div>
                   
                    <div>
                        <canvas id="myChart" width="100%" height="200px"></canvas>
                    </div>
                
           
           
        </div>
        
    </div>
</main>
<script>
    var orderDates = @Html.Raw(Json.Serialize(orderDates));
    var totals = @Html.Raw(Json.Serialize(totals));

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: orderDates,
            datasets: [{
                label: 'Total',
                data: totals,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>